body{
  background-color: grey;
  text-align: center;

}
#mids{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: black;
  color: blue;
}
h1{
  font-style: italic;
  font-family: "Gill Sans", sans-serif;
  color: red;
}
#result{
  font-style: oblique;
}
