body{
  background-color: grey;
  text-align: center;
  background-color: grey;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuxdDT7_xNtG2tcLfNgaec7qQNLnAZE3gMdLqU_ZqyHAU1bvJbLQ); */

}
#mids{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: black;
  color: blue;
  border-radius: 2px solid white;
  border:2px solid white;
  padding: 12px;
  border-radius: 30px 30px 0px 0px;
}
h1{
  font-style: italic;
  font-family: "Gill Sans", sans-serif;
  color: red;
}
#result{
  font-style: oblique;
}
.responsive {
    width: 60%;
    height: auto;
}
